---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import Body from '../components/Body.astro';
import Contact from '../components/Contact.astro';
---

<Layout>
  <title>Contacto</title>
  <Navbar />
  
  <Body title="Contacto">
    <Contact />
  </Body>

  <Footer />
</Layout>


<style>
  body{
    background-color: #333;
  }

  @media (max-width: 768px) {
    body {
      margin-top: 6.5rem; /* Ajusta el margen superior del cuerpo */
    }
  }
</style>
