---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import Body from '../components/Body.astro';
import Card from '../components/Card.astro';
---

<Layout>
  <Navbar />
  <Body title="Mac">
    <h2 class="tituloProducto">Apple TV 1</h2>
    <Card
      img="https://upload.wikimedia.org/wikipedia/commons/3/31/Apple_TV_4K_4gen_64gb.png"
      title="MacBook Air 13 M2 chip"
      body="Up to 1.4x faster than MacBook Air with the M1 chip21, Support for one external display, Support for Wi-Fi 6"
      href=""
      slug="tv"
      precio="49999"
    />
    <Card
      img="https://upload.wikimedia.org/wikipedia/commons/3/31/Apple_TV_4K_4gen_64gb.png"
      title="MacBook Air 13 M2 chip"
      body="Up to 1.4x faster than MacBook Air with the M1 chip21, Support for one external display, Support for Wi-Fi 6"
      href=""
      slug="tv"
      precio="49999"
    />
    <Card
      img="https://upload.wikimedia.org/wikipedia/commons/3/31/Apple_TV_4K_4gen_64gb.png"
      title="MacBook Air 13 M2 chip"
      body="Up to 1.4x faster than MacBook Air with the M1 chip21, Support for one external display, Support for Wi-Fi 6"
      href=""
      slug="tv"
      precio="49999"
    />
    <Card
      img="https://upload.wikimedia.org/wikipedia/commons/3/31/Apple_TV_4K_4gen_64gb.png"
      title="MacBook Air 13 M2 chip"
      body="Up to 1.4x faster than MacBook Air with the M1 chip21, Support for one external display, Support for Wi-Fi 6"
      href=""
      slug="tv"
      precio="49999"
    />
    <h2 class="tituloProducto">Apple TV 2</h2>
    <Card
      img="https://upload.wikimedia.org/wikipedia/commons/3/31/Apple_TV_4K_4gen_64gb.png"
      title="MacBook Air 13 M2 chip"
      body="Up to 1.4x faster than MacBook Air with the M1 chip21, Support for one external display, Support for Wi-Fi 6"
      href=""
      slug="tv"
      precio="49999"
    />
    <Card
      img="https://upload.wikimedia.org/wikipedia/commons/3/31/Apple_TV_4K_4gen_64gb.png"
      title="MacBook Air 13 M2 chip"
      body="Up to 1.4x faster than MacBook Air with the M1 chip21, Support for one external display, Support for Wi-Fi 6"
      href=""
      slug="tv"
      precio="49999"
    />
    <Card
      img="https://upload.wikimedia.org/wikipedia/commons/3/31/Apple_TV_4K_4gen_64gb.png"
      title="MacBook Air 13 M2 chip"
      body="Up to 1.4x faster than MacBook Air with the M1 chip21, Support for one external display, Support for Wi-Fi 6"
      href=""
      slug="tv"
      precio="49999"
    />
    <Card
      img="https://upload.wikimedia.org/wikipedia/commons/3/31/Apple_TV_4K_4gen_64gb.png"
      title="MacBook Air 13 M2 chip"
      body="Up to 1.4x faster than MacBook Air with the M1 chip21, Support for one external display, Support for Wi-Fi 6"
      href=""
      slug="tv"
      precio="49999"
    />
  </Body>
  <Footer />
</Layout>

<style>
  body{
    background-color: #333;
  }
  .tituloProducto{
    width: 100%;
    color: aliceblue;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
</style>
