    ---

    ---
    <body>
        <div class="Redes">
            <h2 class="titulo">Contacto</h2>
            <a href="https:www.instagram.com/santypuleio" class="instagram" target="_blank">
                <p>santypuleio</p>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-instagram" width="27" height="27" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" />
                    <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" />
                    <path d="M16.5 7.5l0 .01" />
                </svg>
            </a>
            <a href="https://api.whatsapp.com/send/?phone=1121826396&text&type=phone_number&app_absent=0" class="whatsapp" target="_blank">
                <p>11 2182-6396</p>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-whatsapp" width="27" height="27" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9" />
                    <path d="M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1" />
                </svg>
            </a>
            <a href="https://www.linkedin.com/in/santiago-martin-puleio-557860243/" class="linkedin" target="_blank">
                <p>Santiago Martin Puleio</p>
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-linkedin" width="27" height="" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" />
                    <path d="M8 11l0 5" />
                    <path d="M8 8l0 .01" />
                    <path d="M12 16l0 -5" />
                    <path d="M16 16v-3a2 2 0 0 0 -4 0" />
                </svg>
            </a>
        </div>

        <div class="formulario">
            <h2 class="titulo-form">Dejanos tu consulta</h2>
            <form action="https://formspree.io/f/mjvnqgad" method="POST" class="contact-form">
                <label for="nombre">Nombre</label>
                <input type="text" id="nombre" name="nombre" required>
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
                <label for="telefono">Telefono</label>
                <input type="tel" id="telefono" name="telefono" required>
                <label for="mensaje">Mensaje</label>
                <textarea id="mensaje" name="mensaje" rows="4" required></textarea>
                <button type="submit" class="submit-button">Enviar</button>
            </form>
        </div>
    </body  >
    
    <style>
        .Redes {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem; /* Espacio entre los elementos */
        flex-shrink: 0; /* No permita que el div Redes se reduzca */
        width: 100%;
        color: white;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        }

        .Redes h2 {
            margin-bottom: 1rem;
        }

        .Redes a {
            display: flex;
            align-items: center; /* Centra verticalmente los elementos dentro de los enlaces */
            text-decoration: none;
            color: white;
        }

        .Redes p {
            margin: 0; /* Elimina el margen predeterminado del párrafo */
            margin-right: 0.5rem; /* Añade un margen derecho para separar los párrafos de los iconos */
        }

        .formulario {
            display: flex;
            flex-direction: column;
            align-items: center; /* Centra horizontalmente */
            width: 50%; /* Reducir el ancho del formulario */
            color: white;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            margin: auto; /* Centra el formulario horizontalmente */
            margin-top: 3%; /* Margen superior */
            margin-bottom: 3%; /* Margen inferior */
            padding: 2rem; /* Añadir relleno */
    }


        .contact-form {
            display: flex;
            flex-direction: column;
            width: 100%;
            max-width: 100%; /* Permite que el formulario ocupe todo el ancho disponible */
        }

        .contact-form label {
            margin-top: 1rem;
        }

        .contact-form input, .contact-form textarea {
            width: 100%;
            padding: 0.5rem;
            margin-top: 0.5rem;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .contact-form textarea {
            resize: vertical; /* Permite cambiar el tamaño vertical del textarea */
        }

        .submit-button {
            background-color: #00bfff; /* Color celeste vivido */
            color: white;
            border: none;
            padding: 0.75rem;
            border-radius: 5px;
            cursor: pointer;
            margin-top: 1rem;
        }

        .submit-button:hover {
            background-color: #009acd; /* Un poco más oscuro en el hover */
        }
    </style>
    