---
const { children } = Astro.props;
---

<navbar />
<main>
  <slot />
</main>
<footer />

<style>
  main {
    padding-top: 5rem; /* Ajusta el padding para dejar espacio para la navbar */
    padding-bottom: 5rem; /* Ajusta el padding para dejar espacio para el footer */
  }
</style>